@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  .react-flow, .react-flow.dark {
    --xy-edge-stroke-default: var(--color-neutral-500);
    --xy-edge-stroke-selected-default: var(--color-neutral-300);
    --xy-edge-stroke-width-default: 3;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.react-flow__node {
  @apply border bg-neutral-900! border-neutral-700;

  box-shadow: var(--xy-node-boxshadow-default);
  border-radius: var(--xy-node-border-radius-default);
  background-color: var(--xy-node-background-color-default);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0px;
  font-size: 12px;
  flex-direction: column;
  color: var(--xy-node-color, var(--xy-node-color-default));
}

.react-flow__node.selectable:focus {
  @apply outline! outline-neutral-400!;
}

.react-flow__node.selectable:hover {
  @apply shadow-[0_0_6px_-1px_var(--color-neutral-400)]!;
}

.react-flow__handle {
  @apply w-3! h-3!;
}
.react-flow__handle-left {
  left: 0 !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.react-flow__handle-right {
  position:  !important;
  right: 0 !important;
  transform: translate(50%, -50%) !important;
}

@layer components {
  input[type=text], input[type=number] {
    @apply border border-neutral-700 rounded-md py-0.5 px-1;
  }
  
  input[type=text]:focus, input[type=number]:focus {
    @apply outline outline-neutral-400;
  }
}
