@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  .react-flow, .react-flow.dark {
    --xy-edge-stroke-default: var(--color-neutral-500);
    --xy-edge-stroke-selected-default: var(--color-neutral-300);
    --xy-edge-stroke-width-default: 3;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-center: 0 0 4px -1px rgb(0, 0, 0, 0.1);
  --shadow-center-sm: 0 0 4px -1px rgb(0, 0, 0, 0.1);
  --shadow-center-md: 0 0 6px -1px rgb(0, 0, 0, 0.1);
  
  --animate-fade-in-opacity: fade-in-opacity var(--default-transition-duration) ease-in;
  @keyframes fade-in-opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  /* For some reason has to be a little longer or it shows a frame of the
   * element with opacity 1 before unmounting */
  --animate-fade-out-opacity: fade-out-opacity calc(var(--default-transition-duration) + 10ms) ease-in;
  @keyframes fade-out-opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  input[type=text], input[type=number] {
    @apply border border-neutral-700 rounded-md py-0.5 px-1;
  }
  
  input[type=text]:focus, input[type=number]:focus {
    @apply outline outline-neutral-400;
  }
}
